{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
    <h1 class="text-5xl text-center py-10">Historique de {{ equipment.name }}</h1>
    <div class="overflow-x-auto w-2/3 mx-auto">
        <table class="min-w-full bg-white">
            <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="w-1/3 py-2">Action</th>
                    <th class="w-1/3 py-2">Date</th>
                    <th class="w-1/3 py-2">Stock</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr class="text-center border-b">
                        <td class="py-2">{{ log.action }}</td>
                        <td class="py-2">{{ log.createdAt|date('Y-m-d H:i:s') }}</td>
                        <td class="py-2">{{ log.stock }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}