{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    <h1 class="text-5xl text-center py-4">Réservations de {{ equipment.name }}</h1>
    <div id='calendar' class="sm:m-8 bg-blue-400 rounded-md p-6"></div>

    {% block javascripts %}
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
        <script>

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'multiMonthYear',
                eventSources: [
                    {
                        events: [
                            {% for loan in loans %}
                                {
                                    title  : '{{ loan.borrower.id }}',
                                    start  : '{{ loan.startDate|date('Y-m-d') }}',
                                    end    : '{{ loan.endDate|date('Y-m-d') }}',
                                },
                            {% endfor %}
                        ]
                    }
                ]
            });
            calendar.render();
        });

        </script>
    {% endblock %}
{% endblock %}

